<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BellyButton Biodiversity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron"
                style="background-image: url(https://www.thoughtco.com/thmb/elBQ4Ig62G0keiuNh42PmZN31C8=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/shigella-bacteria--illustration-758308491-5a02252f9e9427003c1759be.jpg; background-size: 100%">
                <h1 style="color:white," heading">Belly Button Biodiversity Dashboard</h1>
                <h4 style="color:white" ;> Use the Charts to explore the various datasets!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="overview">
                <h4>Overview</h4>
                <p>Improbable Beef is looking for viable bacteria candidates that can be utilized to create
                    meat subsitutes. In support of their discoveries, bacteria was taken from volunteers belly
                    button's to determine their viability. Selecting the Test Subject ID will then display the data
                    through various charts and vizualisations of the candidates.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h1></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>Test Subject ID No.:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Demographic Info</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="bar"></div>

            </div>
            <div class="col-md-5">
                <div id="gauge"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/samples.json"></script>
    <script src="/static/js/charts.js"></script>

</body>

</html>